Manifest-Version: 1.0
MIDlet-1: @APP_NAME@, , com.google.zxing.client.j2me.ZXingMIDlet
MIDlet-Description: ZXing Barcode Reader
MIDlet-Icon: /res/zxing-icon.png
MIDlet-Info-URL: code.google.com/p/zxing
MIDlet-Name: @APP_NAME@
MIDlet-Permissions: javax.microedition.media.control.VideoControl.getSnapshot
MIDlet-Vendor: ZXing Project
MIDlet-Version: @VERSION@
MicroEdition-Configuration: CLDC-1.1
MicroEdition-Profile: MIDP-2.0
