/** CSS by Wain. */
body {
  background-color: #e9eef3;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
td {
  font-size: 14px;
}
#header {
  background-color: #dde3e9;
  border-bottom: 1px solid #f2f7fc;
}
#header h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 12px;
  border-bottom: 1px solid #c8d0d9;
}
#header span {
  font-weight: normal;
  color: #5e6b75;
}
#footer {
  width: 100%;
  text-align:center;
  padding-top: 12px;
}
#footer a {
  text-decoration:none;
  color: #5e6b75;
}
