MIDlet-Jar-Size: 0
MIDlet-1: BarcodeReader,/res/zxing-icon.png,com.google.zxing.client.rim.ZXingUIApp
MIDlet-Jar-URL: BarcodeReader.jar
RIM-COD-URL: BarcodeReader.cod
MIDlet-Icon: /res/zxing-icon.png
MicroEdition-Configuration: CLDC-1.1
MIDlet-Version: @VERSION@
MIDlet-Name: BarcodeReader
MIDlet-Vendor: ZXing Project
MicroEdition-Profile: MIDP-2.0
RIM-MIDlet-Flags-1: 0
