<?xml version="1.0" encoding="UTF-8"?>
<loader version="1.0">
  <application id="BarcodeReader">
    <name>BarcodeReader</name>
    <version>@VERSION@</version>
    <vendor>ZXing Project</vendor>
    <fileset Java="1.2">
      <files>BarcodeReader.cod</files>
    </fileset>
  </application>
</loader>