body {
  background-color: black;
  color: white;
  font-family: Arial sans-serif;
  font-size: 14pt;
}
a:link, a:visited, a:active {
  color: white;
}
ul.touchable li {
  padding-top:8px;
  padding-bottom:8px;
}
