/**
Date picker styles, most of these will eventually move into a default resource bundle.
*/
.gwt-DatePicker {
  width: 150px;
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  color: 6b6b6b;
  cursor: default;
 
}

.gwt-DatePicker td {
  font-family: Arial;
  font-size: 65%;
  padding: 2px;
  text-align: center;
  padding: 2px;
  outline: none;
  -moz-outline: none;
  cursor: default;
}

.gwt-DatePicker td,.month-selector td :focus {
  outline: none
}

.gwt-DateBox input {
  width: 8em;
}

/**
Calendar styles
*/
.calendar-view {
  background-color: white;
  width: 100%;
}

.calendar-view .filler-cell {
  color: #bfbfbf;
  padding: 1px;
  cursor: hand;
}

.calendar-view .date-cell {
  padding: 1px;
  cursor:hand;
}

.calendar-view .selected-cell {
  background: #aaccee;
}

.calendar-view .day-title {
  background: #dbe6de;
}

.gwt-DatePicker .calendar-view .highlighted-cell {
  border: 1px solid #eeeeee;
  padding: 0px;
}

.calendar-view .today-cell {
  border: 1px solid black;
  padding: 0px;
}

.gwt-DatePicker .calendar-view .weekend {
  background: #f1f1f1;
}

.calendar-view .disabled-cell {
  color: graytext;
}

/*
Month selector styles
*/
.month-selector {
  background: #dbe6de;
  width: 100%;
  text-align: center;
}

.month-selector td {
  font-weight: bold;
  font-size: 70%;
}

.month-selector .month-label {
  text-align: center;
  background: #dbe6de;
}

.month-selector .month-backward {
  padding-right: 2em;
}

.month-selector .month-forward {
  padding-left: 2em;
}

/****************************
helper styles
******************************/
.log-panel {
  position: relative;
  float: right;
  border: 1px solid black;
  margin-left: 30px;
}

.gwt-TabPanel {
  margin-top: 4px;
}

.gwt-TabPanelBottom {
  background-color: #E8EEF7;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #87B3FF;
  background-color: #fff;
}

.gwt-TabBar .gwt-TabBarItem {
  padding: 4px;
  cursor: pointer;
  cursor: hand;
  background-color: #e8eef7;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  padding: 4px;
  font-weight: bold;
  cursor: default;
  background-color: #87b3ff;
  border-bottom: 2px solid #87b3ff;
  margin-right: 2px;
}

/*  Styles demo*/
.gwt-DatePicker .red-date {
  background-color: red;
}

.gwt-DatePicker .blue-background {
  background-color: blue;
}

.gwt-DatePicker .red-text {
  color: red;
}

.gwt-DatePicker .green-border {
  border: 5px solid green;
}

.gwt-DatePicker .big-text {
  font-size: x-large;
}

.gwt-DatePicker .underlined-and-bold-text {
  font-weight: bold;
  text-decoration: underline;
}

.gwt-DatePicker .yellow-background {
  background-color: yellow;
}

/* date range styles */
.filler {
  width: 30px;
  text-align: center;
}
