/** CSS by Wain. */
body {
  background-color: #e9eef3;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 11px;
}
#header {
  background-color: #dde3e9;
  border-bottom: 1px solid #f2f7fc;
}
#header h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 12px;
  border-bottom: 1px solid #c8d0d9;
}
#header span {
  font-weight: normal;
  color: #5e6b75;
}
#footer {
  width: 100%;
  text-align:center;
  padding-top: 12px;
}
#footer a {
  text-decoration:none;
  color: #5e6b75;
}
/****************************************/
#mainpanel {
  width: 800px;
  margin: 0 auto;
  padding: 12px;
  font-size: 11px;
}
#imageresult {
  background-color: #dde3e9;
  height: 350px;
  width: 350px;
  vertical-align: middle;
  text-align:center;
  padding: 10px;
  
  position: relative;
  display: table;
  #position: relative;
}
#innerresult {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  #position: absolute;
  #top: 50%;
}
#innerresult img {
   #position: relative;
   #top: -50%;
}
#downloadText {
  font-size: 11px;
}
#urlresult {
  width: 350px;
}
.firstColumn {
  width: 100px;
  text-align: right;
  vertical-align: top;
  padding: 4px 0 4px 0;
  color: #5e6b75;
  font-weight: bold;
  font-size: 11px;
}
.secondColumn {
  width: 270px;
  font-size: 11px;
  color: #5e6b75;
  font-weight: bold;
}
/*.inputfield,*/
.gwt-TextBox,
.gwt-TextArea {
  border: 1px solid #c8d0d9;
  padding: 4px;
  width: 256px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #000;
  font-weight: normal;
}
/*.inputfield:focus,*/
.gwt-TextBox:focus {
  background-color: #fffbcc;
}
.required {
  background: #ffffff url(required-field-bg.png) repeat-y;
}
.errorMessage {
  padding-left: 110px;
  font-size: 11px;
  color: red;
}
