/build
/ScanTest.xcodeproj/*.mode1v3
/ScanTest.xcodeproj/*.pbxuser
/ScanTest.xcodeproj/xcuserdata
/ScanTest.xcodeproj/project.xcworkspace/xcuserdata
/ScanTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata