<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.zxing.client.android">
    <application android:icon="@drawable/icon">
        <activity class=".BarcodeReaderCaptureActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission id="android.permission.READ_CONTACTS" />
    <uses-permission id="android.permission.WRITE_CONTACTS" />
</manifest> 