<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<!--
 Copyright (C) 2015 ZXing authors

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 -->
<!--
 Derived from checkstyle's Sun code style config
 -->
<module name="Checker">
  <!--
      If you set the basedir property below, then all reported file
      names will be relative to the specified directory. See
      http://checkstyle.sourceforge.net/5.x/config.html#Checker

      <property name="basedir" value="${basedir}"/>
  -->

  <!-- Checks that each Java package has a Javadoc file used for commenting. -->
  <!-- See http://checkstyle.sf.net/config_javadoc.html#JavadocPackage       -->
  <!-- <module name="JavadocPackage"/> -->

  <!-- Checks whether files end with a new line.                        -->
  <!-- See http://checkstyle.sf.net/config_misc.html#NewlineAtEndOfFile -->
  <!--<module name="NewlineAtEndOfFile"/>-->

  <!-- Checks that property files contain the same keys.         -->
  <!-- See http://checkstyle.sf.net/config_misc.html#Translation -->
  <module name="Translation"/>

  <module name="FileLength"/>

  <!-- Following interprets the header file as regular expressions. -->
  <!-- <module name="RegexpHeader"/>                                -->

  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>

  <!--
  <module name="RegexpSingleline">
    <property name="format" value="\s+$"/>
    <property name="message" value="Line has trailing spaces."/>
  </module>
  -->

  <module name="TreeWalker">

    <property name="cacheFile" value="${checkstyle.cache.file}"/>

    <!-- required for SuppressWarningsFilter (and other Suppress* rules not used here) -->
    <!-- see http://checkstyle.sourceforge.net/config_annotation.html#SuppressWarningsHolder -->
    <module name="SuppressWarningsHolder"/>

    <!-- Checks for Javadoc comments.                     -->
    <!-- See http://checkstyle.sf.net/config_javadoc.html -->
    <!--
    <module name="JavadocMethod">
      <property name="scope" value="protected"/>
    </module>
    -->
    <module name="JavadocType">
      <property name="scope" value="protected"/>
    </module>
    <!--<module name="JavadocVariable"/>-->
    <module name="JavadocStyle">
      <property name="checkFirstSentence" value="false"/>
    </module>


    <!-- Checks for Naming Conventions.                  -->
    <!-- See http://checkstyle.sf.net/config_naming.html -->
    <!-- <module name="ConstantName"/> -->
    <module name="LocalFinalVariableName"/>
    <!-- <module name="LocalVariableName"/> -->
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="NonEmptyAtclauseDescription"/>
    <module name="PackageName"/>
    <!-- <module name="ParameterName"/> -->
    <module name="StaticVariableName"/>
    <module name="TypeName"/>


    <!-- Checks for imports                              -->
    <!-- See http://checkstyle.sf.net/config_import.html -->
    <module name="AvoidStarImport"/>
    <module name="AvoidStaticImport"/>
    <module name="IllegalImport"/> <!-- defaults to sun.* packages -->
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>


    <!-- Checks for Size Violations.                    -->
    <!-- See http://checkstyle.sf.net/config_sizes.html -->
    <!--
    <module name="LineLength">
      <property name="max" value="120"/>
    </module>
     -->
    <!-- <module name="MethodLength"/> -->
    <!-- <module name="ParameterNumber"/> -->


    <!-- Checks for whitespace                               -->
    <!-- See http://checkstyle.sf.net/config_whitespace.html -->
    <module name="EmptyForIteratorPad"/>
    <module name="MethodParamPad"/>
    <!-- <module name="OperatorWrap"/> -->
    <module name="ParenPad"/>
    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter">
      <property name="tokens" value="TYPECAST, SEMI"/>
    </module>
    <module name="WhitespaceAround">
      <property name="allowEmptyConstructors" value="true"/>
    </module>
    <module name="UnnecessaryParentheses"/>


    <!-- Modifier Checks                                    -->
    <!-- See http://checkstyle.sf.net/config_modifiers.html -->
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>


    <!-- Checks for blocks. You know, those {}'s         -->
    <!-- See http://checkstyle.sf.net/config_blocks.html -->
    <module name="AvoidNestedBlocks"/>
    <module name="EmptyBlock">
      <property name="option" value="text"/>
    </module>
    <module name="LeftCurly"/>
    <module name="NeedBraces"/>
    <module name="RightCurly"/>


    <!-- Checks for common coding problems               -->
    <!-- See http://checkstyle.sf.net/config_coding.html -->
    <!--<module name="AvoidInlineConditionals"/>-->
    <module name="EmptyStatement"/>
    <module name="EqualsAvoidNull"/>
    <module name="EqualsHashCode"/>
    <!--<module name="HiddenField"/>-->
    <module name="IllegalInstantiation"/>
    <module name="IllegalType"/>
    <!-- <module name="InnerAssignment"/> -->
    <!-- <module name="MagicNumber"/> -->
    <!-- <module name="MissingSwitchDefault"/> -->
    <module name="MissingDeprecated"/>
    <module name="MissingOverride"/>
    <module name="OneStatementPerLine"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="DefaultComesLast"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>

    <!-- Checks for class design                         -->
    <!-- See http://checkstyle.sf.net/config_design.html -->
    <!-- <module name="DesignForExtension"/> -->
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="OneTopLevelClass"/>
    <module name="SuperFinalize"/>
    <!-- <module name="VisibilityModifier"/> -->


    <!-- Miscellaneous other checks.                   -->
    <!-- See http://checkstyle.sf.net/config_misc.html -->
    <module name="ArrayTypeStyle"/>
    <!--<module name="FinalParameters"/>-->
    <!-- <module name="TodoComment"/> -->
    <module name="UpperEll"/>

  </module>

  <!-- Support @SuppressWarnings (added in Checkstyle 5.7) -->
  <!-- see http://checkstyle.sourceforge.net/config.html#SuppressWarningsFilter -->
  <module name="SuppressWarningsFilter"/>

  <!-- Checks properties file for a duplicated properties. -->
  <!-- See http://checkstyle.sourceforge.net/config_misc.html#UniqueProperties -->
  <module name="UniqueProperties"/>

</module>