<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2014 ZXing authors

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.zxing.client.glass"
          android:versionCode="4"
          android:versionName="0.2.2">

  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19"/>

  <uses-feature android:name="android.hardware.camera" />

  <application android:label="@string/app_name"
               android:icon="@drawable/ic_launcher"
               android:allowBackup="true">

    <activity android:name=".CaptureActivity">
      <intent-filter>
        <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
      </intent-filter>

      <intent-filter>
        <action android:name="com.google.zxing.client.android.SCAN"/>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

      <meta-data android:name="com.google.android.glass.VoiceTrigger"
                 android:resource="@xml/barcode_scanner_show" />
    </activity>

  </application>

</manifest>
