MIDlet-1: ZXingReader, /res/qr2.png, com.google.zxing.client.j2me.ZXingMIDlet
MIDlet-Description: Bar Code Reader
MIDlet-Icon: /res/qr2.png
MIDlet-Info-URL: code.google.com/p/zxing
MIDlet-Jar-Size: @JAR_SIZE@
MIDlet-Jar-URL: ZXingReader.jar
MIDlet-Name: ZXingReader
MIDlet-Permissions: javax.microedition.media.control.VideoControl.getSnapshot
MIDlet-Vendor: ZXing Project
MIDlet-Version: 1.0
MicroEdition-Configuration: CLDC-1.1
MicroEdition-Profile: MIDP-2.0
