name: Test Java 8

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: mvn -P\!build-android -nsu -B -Pjacoco install
